services:
  waveemapi3:
    image: wsand02/waveemapi3:latest
    restart: always
    container_name: waveemapi3
    ports:
      - "8080:8080"
    environment:
      WAVEEMAPI_AUTH_TOKENS: '["supersecretsigma"]'